* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: Outfit, sans-serif;
  background-color: rgb(214, 226, 240);
  overflow: hidden;
}

main {
  max-width: 320px;
  background-color: rgb(255, 255, 255);
  padding: 16px 16px 16px 16px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 32px -1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 20px 32px -1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 20px 32px -1px rgba(0, 0, 0, 0.08);
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  width: 250px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 20px auto;
  color: rgb(31, 50, 81);
}

p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(123, 135, 157);
  text-align: center;
  margin: 20px auto;
  max-width: 260px;
}
